{% extends "layout.html" %}
{% load static %}
{% block content %}

<div id="free_board" class="table" style="padding-top: 10px;margin-bottom: 20px;">
    <div style="clear:both;padding-top: 10px;margin-bottom: 20px;">
        <div style="float: left; width:730px;">
            <h5><b>{{boardtitle}}</b></h5>
        </div>
        
    </div>

    <div style="clear: both;border: 1px solid #dcdddd;width:800px;margin-top: -10px;" id="free_board_sub">
        <div style="width:780px; height: 400px; margin : 20px 10px 10px 10px;">
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href="{% url 'bbs:forumbitcoin_list' %}"><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
            
            <div class="card" style="width: 150px;height: 170px;margin-left: 35px;margin-top: 15px;">
                <img style="width:100px;margin-left: 25px;border-radius: 50px;padding-top: 5px;" class="card-img-top" src="{% static 'bit.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h6 style="margin-top: -12px;text-align: center;" class="card-title"><a style="color:black;" href=""><b>비트코인</b><br>(BTC)</a></h6>
                </div>
            </div>
        </div>
    </div>        
</div>

{% endblock %}

<!-- ############################################################################# -->




<!--------------------------------------------->