{% extends "layout.html" %}
{% load static %}

{% block content %}

<div id="free_board" class="table" style="padding-top: 10px;margin-bottom: 20px;">
    <div style="clear:both;padding-top: 10px;margin-bottom: 20px;">
        <div style="float: left; width:730px;">
            <h5><b>ICO게시판</b></h5>
        </div>
    </div>

    <div style="clear: both;">
        <form style="float: left;margin-right: 120px;" action="" method="">
            <input id="search_favor" type="text" placeholder="ICO명을 검색하세요" name="search">
            <input id="search_favor_button" type="submit" value="검색">
        </form>
        {% if permission %}
        <a style="color: #383838;border: 1px solid #383838;padding-left: 10px;padding-right: 10px;margin-left: 10px;" href="{{url}}"><b>글쓰기</b></a>
        {% endif %}
    </div>

    <div style="clear: both;width:800px;" id="free_board_sub">
        <div style="clear: both;border: 1px solid #dcdddd;width:800px;margin-top: -10px;" id="free_board_sub">
        <table>
            <thead class="thead-light">
                <tr>
                    <th style="width:100px;">글번호</th>
                    <th style="width:370px;">ICO명</th>
                    <th style="width:170px;">작성자</th>
                    <th style="width:75px;">작성일</th>
                    <th style="width:75px;">조회</th>
                    <th style="width:75px;">추천</th>
                </tr>
            </thead>
            
            <!-- 공지사항 -->
            <tbody>       
              
 

            {% for post in post_list %}
                <tr>
                    <td style="">{{ post.id }}</td>
                    <td style=""><a href="{%url read_url post.id %}" style="display: inline-block; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; width:305px;text-overflow:clip;margin-left: -10px;margin-right:10px;text-decoration: none;color:black;">{{ post.title }}</a></td>
                    <td style="">{{ post.author }}</td>
                    <td>{{ post.updated_at.year }}.{{ post.updated_at.month }}.{{ post.updated_at.day }}</td>
                    <td style="">{{post.views}}</td>
                    <td style="">
                            {{post.like_count}}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>   
        <div style="width:800px;">
                <div style="display: table; margin-left: auto; margin-right: auto;padding-top: 3%;">
                    <div class='col-log-12'>
                        <ul class="pagination pagination-lg col-lg-12 col-md-12" style="margin-left: 20px;">
                          {% if post_list.has_previous %}
                          <li>
                            <a style="color:black" href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
                              이전&ensp;
                            </a>
                          </li>
                          {% else %}
                  
                          {% endif %}
                  
                          {% for i in post_list.paginator.page_range %}
                          <!--현재페이지-->
                            {% if post_list.number == i %}
                              <li class="active" style="font-size: 20px;line-height: 25px;"><a style="color:black" href="#"><b>&ensp;{{i}}&ensp;</b></a></li>
                            {% else %}
                              <li><a style="color:black" href="?page={{i}}">&ensp;{{i}}&ensp;</a></li>
                            {% endif %}
                          {% endfor %}
                          
                          {% if post_list.has_next %}
                            <li><a  style="color:black" href="?page={{ post_list.next_page_number }}" aria-label="Next">&ensp;다음</i></a></li>
                          {% else %}  
                  
                          {% endif %}
                          </ul><!--/.pagination-->
                          </div>
                </div> 
    </div>        
</div>

{% endblock %}