
{% extends "layout.html" %}
{% load static%}


{% block content %}
	<div class="my_page_div" style="width:800px;height: 600px;margin-top: 330px;">
		<div class="my_page_sub_div1">
			<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="my_page_list my_page_list_select"><a class="my" href="{% url 'account:my_page_ajax' %}">회원정보 보기</a></span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
			<li><span class="my_page_list"><a class=" my_pos" href="{% url 'account:my_pos'%}">글 저장함 보기</a> </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
			<li><span class="my_page_list "><a class="my_msg" href="{% url 'account:my_msg'%}">쪽지함 보기{{note_count}}</a> </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
			<li><span class="my_page_list "> <a class="my_notice" href="{% url 'account:my_notice'%}">내 알림 목록 {{event_count}}</a> </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
			<li><span class="my_page_list "> <a class="my_write" href="{% url 'account:my_write'%}">작성 글 보기</a> </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
			<li><span class="my_page_list "> <a class="my_com" href="{% url 'account:my_com'%}">작성 댓글 보기</a> </span></li>
		</div>
		<div id="info_list">
		<div style="margin-top: 20px;" class="my_page_sub_div2">
			<h3>회원정보</h3>
			<table class="table-striped" style="margin-bottom: 20px;margin-top: 20px;">
  				<tbody style="border-top: 5px solid #444444;border-bottom: 5px solid #444444;">
    				<tr height="100">
			      		<th scope="row">아이디</th>
			      		<td>{{ request.user.username }}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">이메일 주소</th>
			     		<td>{{request.user.user_of.email}}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">닉네임</th>
			    		<td>{{ request.user.nickname }}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">프로필사진</th>
			    		<td> <img  style="width:100px;height: 100px;" {% if request.user.Photo %} src="{{request.user.Photo.url}}"  
							{% else %} src="{% static 'no-screenshot.jpg' %}"
							{%endif%} alt="프로필사진"></td>
			    	</tr>
			    	<tr>
			      		<th scope="row">연락처</th>
			    		<td>{{ request.user.user_of.phone_number}}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">가입일</th>
			    		<td>{{ request.user.date_joined }}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">최근 로그인</th>
			    		<td>{{ request.user.last_login }}</td>
			    	</tr>
			    	<tr>
			      		<th scope="row">나의 한마디</th>
			    		<td>{{ request.user.in_short }}</td>
			    	</tr>
			  	</tbody>
			</table>
			<div class="my_page_button">
				<a href="{% url 'account:my_update' %}">회원정보 변경</a>
				<a href="{% url 'account:my_pw_update' %}">비밀번호 변경</a>
				<a href="{% url 'account:destroy' %}">탈퇴</a>
			</div>
		</div>
		</div>
		
	</div>
	<script type="text/javascript" src="{% static 'account/info_ajax.js' %}"></script>
{% endblock %}